<div class='jumbotron container'>
<% if user_signed_in? %>
    <h1 class='jumbotron-custom'>Welcome to PrescriptApp</h1>
    <div class="text-center"> 
    <%= link_to "Click here to view records and make appointments", tables_path, :class => 'btn btn-large btn-primary' %>
	</div>
<% else %>
    <h1 class='jumbotron-custom'>PrescriptApp</h1>
    <div class="text-center"> 
	    <h2> Make doctor appointments and keep track of your prescriptions.</h2>
    </div>
<% end %>
</div>
