<div class='jumbotron'>
    <h1 class='jumbotron-custom'>WELCOME TO YOUR DRUGS</h1>
</div>


<div class="text-center"> 
    <%= link_to "Click here for your drugs", tables_path, :class => 'btn btn-large btn-primary' %>
</div>
