<div class='jumbotron'>
    <h1 class='jumbotron-custom'>Welcome to PrescriptApp</h1>
</div>


<div class="text-center"> 
    <%= link_to "Click here to view records and make appointments", tables_path, :class => 'btn btn-large btn-primary' %>
</div>
